[Desktop Entry]
Type=Application
Name=Infinity Chimp OnPC
Comment=DMX Lighting Control Software
Exec=/app/bin/infinity_launcher -t onpc
Icon=com.highlite.infinitychimp
Categories=AudioVideo
