[Desktop Entry]
Type=Application
Name=Infinity Chimp OnPC (No Virtual Wing)
Comment=DMX Lighting Control Software
Exec=/app/bin/infinity_launcher
Icon=io.github.spolack.infinitychimp
Categories=AudioVideo
