[Desktop Entry]
Type=Application
Name=Infinity Chimp Update Factory Library
Comment=DMX Lighting Control Software
Exec=/app/bin/xterm -e /app/bin/update_factory_library
Terminal=false
Icon=io.github.spolack.infinitychimp
Categories=AudioVideo
